:root{
  --vh: 1vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}


body{
  font-family: 'Caprasimo', serif;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.page{
  position: relative;
  width: 100vw;
  height: calc(var(--vh) * 100);
  background: url('../img/bg-desktop.webp') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
}

.countdown-desktop{
    padding-top: 9vh;
    font-size: 9vw;
    text-shadow:
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);
}

.tagline{

    font-size: 3vw;
    text-shadow:
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);
}

/* Mobile background */
@media (max-width: 768px){
  .page{
    background-image: url('../img/bg-mobile.webp');
  }
}


/* =====================
   VISIBILIDAD BASE
===================== */

/* Desktop visible por defecto */
.countdown-desktop,
.tagline {
  display: block;
}

.countdown-mobile {
  display: none;
}

/* =====================
   MOBILE ONLY
===================== */
@media (max-width: 768px){

  /* Ocultamos desktop */
  .countdown-desktop,
  .tagline {
    display: none;
  }

  /* Mostramos mobile */
  .countdown-mobile {
    display: block;
  }

}


.footer{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 17vw;
  min-width: 300px;
  height: 65px;

  background: rgba(58, 70, 53, 0.65);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  z-index: 2;

  /* LA CLAVE */
  border-radius: 50px 50px 0 0;
}


.footer a{
  position: relative;
  z-index: 2;
}

.footer img{
  width: 1.2vw;
  min-width: 25px;
  height: auto;
  opacity: 0.95;
}


.footer a:hover img{
  opacity: 1;
  transform: scale(1.08);
}


@media (max-width: 768px){
.footer{
    width: 70vw;
    max-width: 320px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    gap: 20px;
  }

.footer img{
  width: 6.2vw;
  max-width: 25px;
  height: auto;
  opacity: 0.95;
}

.countdown-mobile{
    padding-top: 9vh;
    font-size: 6vw;
    text-shadow:
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);
}

.cdcel{
  font-size: clamp(64px, 25vw, 110px);
  color: #fff;
text-shadow:
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);
    line-height: 1.05em;
}

}
